<html>
    <body>
      <div id="menu">

        <h2>{{proj.nom}}</h2><br><br>

    <p  class="active"><img src="../assets/backlog.png"> <a routerLink="/backlog">Backlog</a></p><br>
    <p><img src="../assets/kanban.png"> <a routerLink="/kanban"  >Tableau Kanban</a></p><br>
    <p><img src="../assets/git.png"> <a routerLink="/git" >Github</a></p>
    </div>

    <div id="contenu">
    <p>Projets/backlog</p><br>
    <h3>Backlog</h3>
    <form>
      <input type="submit" id='sb' value='Creer un sprint' >
    </form>
    <div id="sprint">
      <p>Sprint 1</p>
      <form>
        <input type="submit" id="sb1" value="Demarrer le sprint">
      </form>

    </div>

    <div id="backlog">
      <p>Product backlog</p>
     

    </div>

  </div>
    

    </body>


</html>